.success-message{
    width: 450px;
    min-height: 70px;
    margin-bottom: 30px;
    background: linear-gradient(330deg,rgb(28,85,226),green 94%);
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    -webkit-user-select: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.error-message{
    width: 450px;
    min-height: 70px;
    margin-bottom: 30px;
    background: linear-gradient(330deg,rgb(28,85,226),red 94%);
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    -webkit-user-select: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width:991px){
    .success-message,.error-message{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .success-message,.error-message{
        width: 280px;
    }
}