*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-input-placeholder{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: rgb(212, 212, 212); 
}

::-webkit-scrollbar{
    width: 6px;
    background-color: rgb(32, 33, 36);
}

::-webkit-scrollbar-thumb{
    background-color: gray;
}


*::selection{
    background-color: white;
    color: rgb(27, 85, 226);
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-panel{
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.image{
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(6, 8, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image>.icon{
    width: 35vw;
    height: 35vw;
    background: url('../assets/banner/icon.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.login-panel>h1{
    color: rgb(59, 63, 92);
    font-family:sans-serif;
    font-weight:400;
    font-size:40px;
    width: 450px;
}

.login-panel>h1>a{
    color: rgb(27, 85, 226);
    font-family:sans-serif;
    font-weight:400;
    text-decoration: none;
    font-size:40px;
}

.login-panel>p{
    width: 450px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size:16px;
    letter-spacing: 1px;
    color: rgb(59, 63, 92);
}

.login-panel>p>a{
    color: rgb(27, 85, 226);
    font-family: sans-serif;
    font-size:16px;
    text-decoration: none;
}

.login-panel>form{
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.login-panel>form>label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 230, 237);
    margin-bottom: 40px;
}

.login-panel>form>.login_email>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/email.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.login-panel>form>.login_email>input,.login-panel>form>.login_password>input{
    width: 410px;
    height: 50px;
    border: none;
    font-weight: 600;
    outline: none;
    font-size: 18px;
    color: rgb(59, 59, 59);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-panel>form>.login_password>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/password.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.login-panel>form>.form-options{
    border-bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-panel>form>.form-options>button{
    width: 90px;
    height: 35px;
    background-color: rgb(27, 85, 226);
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

.login-panel>form>.form-options>button:hover{
    background-color: rgb(15, 64, 189);
    transition: 0.2s;
}

.login-panel>form>.form-options>label{
    height: auto!important;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(59, 63, 92);
    letter-spacing: 1.5px;
}

.login-panel>form>.form-options>label>.show-hide{
    width: 40px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(228, 229, 237);
    margin-left: 10px;
    padding: 4px;
}

.login-panel>form>.form-options>label>.show-hide>.round{
    width: 12px;
    height: 12px;
    background-color: rgb(27, 85, 226);
    border-radius: 100%;
    float: left;
}

.login-panel>label{
    color: rgb(136, 142, 168);
    font-size: 15px;
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
}

.login-panel>label>input{
    margin-right: 6px;
}

.password_recovery{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(27, 85, 226);
    text-decoration: none;
    margin-top: 20px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.privacy{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: rgb(60, 59, 59);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:991px){
    .login-panel{
        width: 100%;
        padding: 30px 20px;
    }

    .image{display: none;}

    .login-panel>p,.login-panel>h1,.login-panel>form,.login-panel>form>.login_email>input,.login-panel>form>.login_password>input{
        width: 480px;
    }

    .login-panel>h1,.login-panel>h1>a{
        font-size: 28px;
    }

    .login-panel>p{
        font-size: 14px;
    }

    ::-webkit-input-placeholder{
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        color: rgb(212, 212, 212); 
    }

    .login-panel>form>.login_email>input,.login-panel>form>.login_password>input{
        font-size: 16px;
        margin-left: 8px;
    }

    .login-panel>form>.form-options>label{
        font-size: 14px;
    }

    .login-panel>label{
        font-size: 14px;
        font-weight: 300;
    }

    .login-panel>.password_recovery{
        font-size: 14px;
        font-weight: 400;  
    }
}

@media screen and (max-width:600px){
    .login-panel>p,.login-panel>h1,.login-panel>form,.login-panel>form>.login_email>input,.login-panel>form>.login_password>input{
        width: 280px;
    }
}