.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 80px;
    z-index: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}

.navbar>a>.logo{
    width: 90px;
    height: 30px;
    background: url('../assets/logo/logo_light.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar>a>.logo_dark{
    width: 90px;
    height: 30px;
    background: url('../assets/logo/logo_dark.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar>.navigation{
    margin-left: 180px;
}

.navbar>.navigation>ul{
    display: flex;
}

.navbar>.navigation>ul>li>a{
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    transition: 0.5s;
}

.navbar>.navigation>ul>li>a:hover{
    color: rgb(220, 220, 221);
    transition: 0.5s;
}

.navbar>.navigation>ul>li>.after_a{
    color: rgb(81, 81, 81);
    font-size: 14px;
    padding: 10px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    transition: 0.5s;
}

.navbar>.navigation>ul>li>.after_a:hover{
    color: black;
    transition: 0.5s;
}

.header>.cover{
    width: 100%;
    height: 650px;
    background-color: rgba(24, 21, 100, 0.418);
    position: absolute;
    left: 0;
    top: 0;
    margin: 0
}

.burger-menu{
    display: none;
}

.mobile-navigation{
    display: none;
}

@media screen and (max-width:991px){
    .navigation{
        display: none;
    }

    .navbar>.burger-menu{
        width: 30px;
        height: 30px;
        display: block;
        background: url('../assets/icons/burger-menu.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 6%;
    }

    .navbar>.burger-menu-dark{
        width: 30px;
        height: 30px;
        display: block;
        background: url('../assets/icons/burger-menu-dark.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 6%;
    }

    .navbar{
        justify-content: space-between;
    }

    .navbar>a{
        margin-left: 6%;
    }

    .navbar>.mobile-navigation{
        display: flex;
        position: fixed;
        width: 100%;
        height: auto;
        top: 80px;
        left: 0;
        background-color: rgb(249, 249, 249);
        display: none;
        box-shadow: rgba(0, 0, 0, 0.089) 1px 1px 5px;
    }

    .navbar>.mobile-navigation>ul{
        padding: 20px 0;
    }

    .navbar>.mobile-navigation>ul>li{
        width: 100%;
        height: 50px;
        display: flex;
        padding: 0 20px;
        align-items: center;
    }

    .navbar>.mobile-navigation>ul>li>a{
        color: rgb(81, 81, 81);
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}