*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 6px;
    background-color: #202124;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
}

::-webkit-input-placeholder{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: rgb(212, 212, 212); 
}


*::selection{
    background-color: white;
    color: rgb(27, 85, 226);
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-panel{
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.image{
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(6, 8, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image>.icon{
    width: 35vw;
    height: 35vw;
    background: url('../assets/banner/icon.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.register-panel>h1{
    color: rgb(59, 63, 92);
    font-family:sans-serif;
    font-weight:400;
    font-size:40px;
    width: 450px;
}

.register-panel>h1>a{
    color: rgb(27, 85, 226);
    font-family:sans-serif;
    font-weight:400;
    text-decoration: none;
    font-size:40px;
}

.register-panel>p{
    width: 450px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size:16px;
    letter-spacing: 1px;
    color: rgb(59, 63, 92);
}

.register-panel>p>a{
    color: rgb(27, 85, 226);
    font-family: sans-serif;
    font-size:16px;
    text-decoration: none;
}

.register-panel>form{
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 50px;
}

.register-panel>form>label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 230, 237);
    margin-bottom: 40px;
}

.register-panel>form>.register_email>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/email.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.register_surname>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/surname.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.register_name>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/name.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.register_mobile>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/tel.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.register_password>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/password.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.register_user>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/company.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.personal_data>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/person_name.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.company_data1>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/company_name.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.company_data2>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/duty.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-panel>form>.register_username>input,.register-panel>form>.register_password>input,.register-panel>form>.register_email>input,.register-panel>form>.register_name>input,.register-panel>form>.register_surname>input,.register-panel>form>.register_mobile>input,.register-panel>form>.register_user>select,.register-panel>form>.company_data1>input,.register-panel>form>.company_data2>input,.register-panel>form>.personal_data>input{
    width: 410px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 18px;
    color: rgb(59, 59, 59);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register-panel>form>.form-options{
    border-bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-panel>form>.form-options>button{
    width: 90px;
    height: 35px;
    background-color: rgb(27, 85, 226);
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

.register-panel>form>.form-options>button:hover{
    background-color: rgb(15, 64, 189);
    transition: 0.2s;
}

.register-panel>form>.form-options>label{
    height: auto!important;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(59, 63, 92);
    letter-spacing: 1.5px;
}

.register-panel>form>.form-options>label>.show-hide{
    width: 40px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(228, 229, 237);
    margin-left: 10px;
    padding: 4px;
}

.register-panel>form>.form-options>label>.show-hide>.round{
    width: 12px;
    height: 12px;
    background-color: rgb(27, 85, 226);
    border-radius: 100%;
    float: left;
}

.privacy{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: rgb(60, 59, 59);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-panel>form>.terms{
    width: 323px!important;
    display: flex;
    justify-content: flex-start;
    border-bottom: none;
    color: rgb(136, 142, 168);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    font-size:15px;
    letter-spacing:2px;
    float: left;
}

.register-panel>form>.terms>a{
    color: rgb(27, 85, 226);
    text-decoration: none;
    margin: 0 3px 0 13px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    font-size:15px;
    letter-spacing:2px;
    float: left;
}


@media screen and (max-width:991px){
    .register-panel{
        width: 100%;
        padding: 30px 20px;
    }

    .image{display: none;}

    .register-panel>p,.register-panel>h1,.register-panel>form,.register-panel>form>.register_username>input,.register-panel>form>.register_password>input,.register-panel>form>.register_email>input.register-panel>form>.register_name>input,.register-panel>form>.register_surname>input,.register-panel>form>.register_mobile>input,.register-panel>form>.company_data1>input,.register-panel>form>.company_data2>input,.register-panel>form>.personal_data>input{
        width: 480px;
    }

    .success-message,.error-message{
        width: 100%;
    }

    .register-panel>h1,.register-panel>h1>a{
        font-size: 28px;
    }

    .register-panel>p{
        font-size: 14px;
    }

    ::-webkit-input-placeholder{
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        color: rgb(212, 212, 212); 
    }
    
    .register-panel>form>.register_username>input,.register-panel>form>.register_password>input,.register-panel>form>.register_email>input,.register-panel>form>.register_name>input,.register-panel>form>.register_surname>input,.register-panel>form>.register_mobile>input,.register-panel>form>.register_user>select,.register-panel>form>.company_data1>input,.register-panel>form>.company_data2>input,.register-panel>form>.personal_data>input{
        font-size: 16px;
        margin-left: 8px;
    }

    .register-panel>form>.form-options>label{
        font-size: 14px;
    }

    .register-panel>form>.terms{
        width: 270px!important;
        font-size: 11px!important;
    }

    .register-panel>form>.terms>a{
        font-size: 11px!important;
    }

    .register-panel>form>label{
        justify-content: flex-start;
    }

    .register-panel>form>label>.icon{
        width: 25px!important;
        height: 25px!important;
    }
}

@media screen and (max-width:600px){
    .register-panel>p,.register-panel>h1,.register-panel>form,.register-panel>form>.register_username>input,.register-panel>form>.register_password>input,.register-panel>form>.register_email>input.register-panel>form>.register_name>input,.register-panel>form>.register_surname>input,.register-panel>form>.register_mobile>input{
        width: 280px;
    }

    .success-message,.error-message{
        width: 280px;
    }
    
    .register-panel>form>.register_username>input,.register-panel>form>.register_password>input,.register-panel>form>.register_email>input,.register-panel>form>.register_name>input,.register-panel>form>.register_surname>input,.register-panel>form>.register_mobile>input,.register-panel>form>.register_user>select,.register-panel>form select,.register-panel>form>.company_data1>input,.register-panel>form>.company_data2>input,.register-panel>form>.personal_data>input{
        width: 100%!important;
    }

    .terms_input{
        width: 13px!important;
        height: 13px!important;
    }

    .register-panel>form>label>.icon{
        width: 25px!important;
        height: 25px!important;
    }
}