*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    color: rgb(199, 199, 199);
    background-color: black;
}

.container{
    width: 100%!important;
    height: auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 6px;
    background-color: #202124;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
}

.header{
    width: 100%;
    min-height: 650px;
    background:url('../assets/banner/987523-business.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header>.banner{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.header>.banner>.line{
    width: 1px;
    height: 300px;
    background-color: rgba(55, 125, 194, 0.781);
}

.header>.banner>.link,.header>.banner>.sms{
    width: 490px;
    margin: 40px;
}

.header>.banner>.link>h1{
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-align: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header>.banner>.link>a{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    float: right;
    margin-top: 65px;
}

.header>.banner>.sms>h1{
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header>.banner>.sms>a{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    float: left;
    margin-top: 65px;
}

.services{
    width: 100%;
    min-height: 600px;
    background-color: rgb(249, 249, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services>h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-align: left;
    width: 910px;
    color:rgb(47, 47, 47);
    margin-bottom: 20px;
}

.services>.services-content{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services>.services-content>.services-div{
    width: 510px;
    height: 350px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services>.services-content>img{
    width: 400px;
}

.services>.services-content>.services-div>.about{
    color: rgb(60, 59, 59);
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.services>.services-content>.services-div>.solution{
    width: 450px;
    height: 45px;
    margin-top: 20px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.089) 1px 1px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.services>.services-content>.services-div>.solution>.item{
    width: 45px;
    height: 45px;
    border-right: 1px solid rgb(232, 232, 232);
    background: url('../assets/icons/thick.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.services>.services-content>.services-div>.solution>a{
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;
    color: rgb(60, 59, 59);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.our-team{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.our-team>h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color:rgb(47,47,47);
    margin-bottom: 20px;
    text-align: center;
}

.our-team>h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color:rgb(47,47,47);
    margin-bottom: 40px;
    text-align: center;
}

.our-team>.team{
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-team>.team>.team-group1,.our-team>.team>.team-group2{
    display: flex;
    justify-content: space-between;
}

.our-team>.team>.team-group1>.team-user,.our-team>.team>.team-group2>.team-user{
    width: 250px;
    height: 300px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.089) 1px 1px 5px;
    transition:0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team>.team>.team-group1>.team-user:hover,.our-team>.team>.team-group2>.team-user:hover{
    box-shadow: rgba(0, 0, 0, 0.178) 1px 1px 15px;
    transition:0.2s;
}

.our-team>.team>.team-group1>.team-user>.pp,.our-team>.team>.team-group2>.team-user>.pp{
    width: 100%;
    height: 200px;
}

.our-team>.team>.team-group1>#team-user1>.pp{
    background: url('../assets/pp/avatar-7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.our-team>.team>.team-group1>#team-user2>.pp{
    background: url('../assets/pp/avatar-8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.our-team>.team>.team-group2>#team-user3>.pp{
    background: url('../assets/pp/avatar-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.our-team>.team>.team-group2>#team-user4>.pp{
    background: url('../assets/pp/img-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.our-team>.team>div>.team-user>.name_surname{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: rgb(47,47,47);
    text-align: center;
    margin-top: 30px;
}

.our-team>.team>div>.team-user>.job{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: rgb(68, 66, 66);
    text-align: center;
    margin-top: 6px;
}

.our-team>.team>div>.team-user>.social{
    width: 170px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 180px;
    cursor: context-menu;
    box-shadow: rgba(0, 0, 0, 0.089) 1px 1px 5px;
}

.our-team>.team>div>.team-user>.social>a>.fb{
    width: 30px;
    height: 30px;
    background: url('../assets/social_icons/d_facebook.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    margin: 0 2px;
}

.our-team>.team>div>.team-user>.social>a>.fb:hover{
    width: 30px;
    height: 30px;
    background: url('../assets/social_icons/facebook.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.our-team>.team>div>.team-user>.social>a>.tw{
    width: 30px;
    height: 30px;
    background: url('../assets/social_icons/d_twitter.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    margin: 0 2px;
}

.our-team>.team>div>.team-user>.social>a>.tw:hover{
    width: 30px;
    height: 30px;
    background: url('../assets/social_icons/twitter.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.our-team>.team>div>.team-user>.social>a>.g{
    width: 30px;
    height: 30px;
    background: url('../assets/social_icons/d_google.png');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    margin: 0 2px;
}

.our-team>.team>div>.team-user>.social>a>.g:hover{
    width: 30px;
    height: 30px;
    background: url('../assets/social_icons/google.png');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.our-team>.team>div>.team-user>.social>a>.in{
    width: 30px;
    height: 30px;
    background: url('../assets/social_icons/d_linkedin.png');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    margin: 0 2px;
}

.our-team>.team>div>.team-user>.social>a>.in:hover{
    width: 30px;
    height: 30px;
    background: url('../assets/social_icons/linkedin.png');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.comments{
    width: 100%;
    min-height: 600px;
    background: url('../assets/banner/img-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0!important;
}

.comments>.cover{
    background-color: #0070bbb7;
    width: 100%;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comments>.cover>h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color:rgb(255, 255, 255);
    margin-bottom: 30px;
    text-align: center;
}

.comments>.cover>.owl-carousel,.comments>.cover>.owl-carousel{
    width: 70%;
}

.comments>.cover>.owl-carousel,.comments>.cover>.owl-carousel *{
    z-index: 0;
}

.comments>.cover>.owl-carousel,.comments>.cover>.owl-carousel .owl-item{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.comments>.cover>.owl-carousel .owl1{
    width: 400px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments>.cover>.owl-carousel .owl2{
    width: 400px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments>.cover>.owl-carousel .owl3{
    width: 400px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments>.cover>.owl-carousel .comment-text{
    height: 170px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: rgb(47, 47, 47);
}

.comments>.cover>.owl-carousel .user{
    height: 70px;
    width: 70%;
    margin-top: 40px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comments>.cover>.owl-carousel .user>.user-pp{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-left: 5px;
}

.comments>.cover>.owl-carousel .user>.user-name{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: rgb(47, 47, 47);
    text-align: center;
    margin-left: 20px;
}

.comments>.cover>.owl-carousel .owl1 .user-pp{
    background: url('../assets/pp/avatar-7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comments>.cover>.owl-carousel .owl2 .user-pp{
    background: url('../assets/pp/avatar-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comments>.cover>.owl-carousel .owl3 .user-pp{
    background: url('../assets/pp/avatar-8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.latest-blog{
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.latest-blog>h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color:rgb(47,47,47);
    margin-bottom: 30px;
    text-align: center;
}

.latest-blog>.blogs-content{
    min-height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-blog>.blogs-content>.blog-item{
    width: 300px;
    height: 400px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.089) 1px 1px 10px;
    transition:0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-blog>.blogs-content>.blog-item:hover{
    box-shadow: rgba(0, 0, 0, 0.205) 1px 1px 10px;
    transition:0.2s;
}

.latest-blog>.blogs-content>.blog-item>.pp{
    width: 100%;
    height: 200px;
}

.latest-blog>.blogs-content>#item1>.pp{
    background: url('../assets/blogs/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.latest-blog>.blogs-content>#item2>.pp{
    background: url('../assets/blogs/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.latest-blog>.blogs-content>#item3>.pp{
    background: url('../assets/blogs/3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.latest-blog>.blogs-content>.blog-item>.blog-title{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(47,47,47);
    margin-top: 15px;
    line-height: 25px;
}

.latest-blog>.blogs-content>.blog-item>.blog-text{
    font-size: 15px;
    text-align: center;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: rgb(47,47,47);
    line-height: 25px;
}

.latest-blog>.blogs-content>.blog-item>.pp>.time{
    width: 60px;
    height: 90px;
    background: url('../assets/icons/comment.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 10px;
    font-size: 18px;
    color: white;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer{
    width: 100%;
    min-height: 350px;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.footer>.footer-content{
    width: 914px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer>.footer-content>.contact{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.footer>.footer-content>.contact>.logo{
    width: 90px;
    height: 30px;
    background: url('../assets/logo/logo_dark.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.footer>.footer-content>.contact ul{
    margin-top: 20px;
}

.footer>.footer-content>.contact li{
    line-height: 40px;
}

.footer>.footer-content>.contact span{
    width: 20px!important;
    height: 20px!important;
    margin-right: 20px;
    padding: 10px 10px;
}

.footer>.footer-content>.contact .loc{
    background: url('../assets/icons/marker.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer>.footer-content>.contact .mail{
    background: url('../assets/icons/mail.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer>.footer-content>.contact .tel{
    background: url('../assets/icons/call.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer>.footer-content>.contact ul>li{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: rgb(64, 64, 64);
}

.footer>.footer-content>.helpful-links{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.footer>.footer-content>.helpful-links>h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color:rgb(47,47,47);
    margin-bottom: 10px;
}

.footer>.footer-content>.helpful-links>ul>li>a{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: rgb(64, 64, 64); 
}

.footer>.footer-content>.follow-us{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.footer>.footer-content>.follow-us>h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color:rgb(47,47,47);
    margin-bottom: 10px; 
}

.footer>.footer-content>.follow-us>p{
    padding-right: 20px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: rgb(64, 64, 64);
    line-height: 25px;
}

.footer>.footer-content>.follow-us>form>input{
    width: 220px;
    height: 40px;
    padding: 0 12px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer>.footer-content>.follow-us>form{
    display: flex;
    margin-top: 15px;
}

.footer>.footer-content>.follow-us>form>button{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 113, 187);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>.footer-content>.follow-us>form>button>.icon{
    width: 30px;
    height: 30px;
    background: url('../assets/icons/subcribe.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.privacy{
    width: 100%;
    height: 80px;
    background-color: rgb(249, 249, 248);
    border-top: 1px solid rgb(236, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-content{
    width: 914px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy-content>p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: rgb(60, 59, 59);
}

.privacy>.privacy-content>.social{
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.privacy>.privacy-content>.social>a>.fb{
    width: 40px;
    height: 40px;
    background: url('../assets/social_icons/d_facebook.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: 1px solid rgb(60, 59, 59);
    border-radius: 100%;
}

.privacy>.privacy-content>.social>a>.fb:hover{
    width: 40px;
    height: 40px;
    background: url('../assets/social_icons/facebook.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: 1px solid rgb(59, 88, 158);
}

.privacy>.privacy-content>.social>a>.tw{
    width: 40px;
    height: 40px;
    background: url('../assets/social_icons/d_twitter.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: 1px solid rgb(60, 59, 59);
    border-radius: 100%;
}

.privacy>.privacy-content>.social>a>.tw:hover{
    width: 40px;
    height: 40px;
    background: url('../assets/social_icons/twitter.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: 1px solid rgb(86, 215, 254);
}

.privacy>.privacy-content>.social>a>.g{
    width: 40px;
    height: 40px;
    background: url('../assets/social_icons/d_google.png');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: 1px solid rgb(60, 59, 59);
    border-radius: 100%;
}

.privacy>.privacy-content>.social>a>.g:hover{
    width: 40px;
    height: 40px;
    background: url('../assets/social_icons/google.png');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: 1px solid rgb(220, 79, 66);
}

.privacy>.privacy-content>.social>a>.in{
    width: 40px;
    height: 40px;
    background: url('../assets/social_icons/d_linkedin.png');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: 1px solid rgb(60, 59, 59);
    border-radius: 100%;
}

.privacy>.privacy-content>.social>a>.in:hover{
    width: 40px;
    height: 40px;
    background: url('../assets/social_icons/linkedin.png');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: 1px solid #1C82CA;
}

.contact-header{
    width: 100%;
    height: 350px;
    background: url('../assets/banner/img-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.contact-header>.cover{
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-header>.cover>h1{
    font-weight: normal;
    color:rgb(255, 255, 255);
    margin-bottom: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 50px;
}

.contact-header>.cover>div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.contact-header>.cover>div>a{
    font-size: 18px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    transition: 0.2s;
}

.contact-header>.cover>div>a:hover{
    color: rgb(199, 199, 199);
    transition: 0.2s;
}

.thick{
    width: 15px;
    height: 15px; 
    background: url('../assets/icons/thick_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
}

.contact-form{
    width: 100%;
    height: auto;
    padding:100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form>h1{
    font-weight: normal;
    color: rgb(47,47,47);
    margin-bottom: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.contact-form>h3{
    font-weight: normal;
    color: rgb(104, 100, 100);
    margin-bottom: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-form>.content{
    width: 914px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    margin-top: 30px;
}

.contact-form>.content>form{
    display: flex;
    flex-direction: column;
    width: 520px;
    height: auto;
    margin: auto;
    align-items: center;
    margin-right: 20px!important;
}

.contact-form>.content>form>input{
    width: 100%;
    height: 40px;
    margin-bottom:25px;
    padding: 0 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 6px;
}

.contact-form>.content>form>textarea{
    width: 100%!important;
    min-height: 100px;
    margin-bottom: 25px!important;
    padding: 10px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 6px;
}

.contact-form>.content>form>button{
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgb(0, 113, 187);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.contact-form>.content>form>button:hover{
    background-color: rgb(3, 92, 151);
    transition: 0.2s;
}

.contact-form ::placeholder{
    color: rgb(134, 144, 153);
}

.contact-form>.content>.contact-info{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.contact-form>.content>.contact-info>h1{
    font-weight: normal;
    color: rgb(47,47,47);
    margin-bottom: 30px; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-form>.content>.contact-info>ul{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

.contact-form>.content>.contact-info>ul>li{
    display: flex;
    align-items: center;
}

.contact-form>.content>.contact-info>ul>li>.loc{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px dashed rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form>.content>.contact-info>ul>li>.loc>.icon{
    width: 30px;
    height: 30px;
    background: url('../assets/icons/marker.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-form>.content>.contact-info>ul>li>.info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.contact-form>.content>.contact-info>ul>li>.info>.title{
    font-size: 20px;
    color: rgb(43, 43, 43);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-form>.content>.contact-info>ul>li>.info>a{
    color: rgb(60, 59, 59);
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-form>.content>.contact-info>ul>li>.call{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px dashed rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form>.content>.contact-info>ul>li>.call>.icon{
    width: 30px;
    height: 30px;
    background: url('../assets/icons/call.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.contact-form>.content>.contact-info>ul>li>.mail{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px dashed rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form>.content>.contact-info>ul>li>.mail>.icon{
    width: 30px;
    height: 30px;
    background: url('../assets/icons/mail.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-content{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 248);
}

.about-us-content>.content{
    width: 914px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us-content>.content>.image{
    width: 450px;
    height: 300px;
    background: url('../assets/banner/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us-content>.content>.info{
    width: 400px;
    text-align: center;
    height: auto;
}

.about-us-content>.content>.info>h1{
    font-weight: normal;
    color: rgb(47,47,47);
    margin-bottom: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-us-content>.content>.info>.text{
    font-size: 17px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 25px;
    color: rgb(47, 47, 47);
}

@media screen and (max-width:1200px){
    .our-team>.team{
        flex-direction: column;
    }
}


@media screen and (max-width: 991px){
    .header>.banner{
        flex-direction: column;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        height: 550px;
    }

    .header>.banner>.line{
        display: none;
    }

    .header>.banner>.sms,.header>.banner>.link{
        width: 100%;
        border-bottom: 1px solid rgba(55, 125, 194, 0.781);
        margin: 10px!important;
    }

    .header>.banner>.sms>h1,.header>.banner>.link>h1{
        font-size: 30px;
        text-align: center;
    }

    .header>.banner>.link>a{
        font-size: 30px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-align: center;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .header>.banner>.sms>a{
        font-size: 30px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        margin-top: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .services>h1{
        width: auto;
        margin: 50px 0 20px 0;
    }

    .services{
        padding-bottom: 50px;
    }

    .services>.services-content{
        flex-direction: column;
    }


    .services>.services-content>.services-div>.about{
        margin-bottom: 20px;
    }
    
    .services>.services-content>.services-div{
        height: auto;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
    }

    .our-team>.team>.team-group1>.team-user,.our-team>.team>.team-group2>.team-user{
        cursor: context-menu;
    }

    .latest-blog{
        padding: 40px 0;
    }

    .latest-blog>.blogs-content{
        flex-direction: column;
    }
     
    .latest-blog>.blogs-content>.blog-item{
        margin: 20px 0px;
    }

    .footer{
        padding-top: 0;
    }

    .footer>.footer-content{
        flex-direction: column;
        justify-content: flex-start;
        padding: 35px 0 50px 6.5%;
    }

    .footer>.footer-content>.contact,.footer>.footer-content>.helpful-links{
        margin-bottom: 40px;
    }

    .privacy>.privacy-content{
        padding: 0 6.5%;
    }

    .contact-form>.content{
        width: 100%;
        justify-content: center;
    }

    .contact-form>.content>form{
        margin: 0 0 80px 0!important;
    }

    .about-us-content>.content{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }
    
    .about-us-content>.content>.image{
        width: 80%;
        height: 55vw;
        background: url('../assets/banner/about.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
    }
    
    .about-us-content>.content>.info{
        width: 80%;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:767px){
    .header>.banner>.sms>h1,.header>.banner>.link>h1{
        font-size: 20px;
        text-align: center;
    }

    .header>.banner>.link>a{
        font-size: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-align: center;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .header>.banner>.sms>a{
        font-size: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        margin-top: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .services>.services-content>.services-div{
        width: 100%;
    }

    .services>.services-content>.services-div>.about{
        padding: 30px;
    }

    .comments>.cover>.owl-carousel .owl1{
        width: 280px;
    }
    
    .comments>.cover>.owl-carousel .owl2{
        width: 280px;
    }
    
    .comments>.cover>.owl-carousel .owl3{
        width: 280px;
    }

    .comments>.cover>.owl-carousel .comment-text{
        width: 100%;
        font-size: 15px;
        height: 200px;
    }
    
    .comments>.cover>.owl-carousel .user{
        height: 60px;
        width: 100%;
        margin-top: 20px;
        border-radius: 40px;
        background-color: white;
    }

    .comments>.cover>.owl-carousel .user>.user-pp{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-left: 5px;
    }
    
    .comments>.cover>.owl-carousel .user>.user-name{
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        color: rgb(47, 47, 47);
        text-align: center;
        margin-left: 13px;
    }
    
}

@media screen and (max-width:590px){
    .our-team>.team>.team-group1,.our-team>.team>.team-group2{
        flex-direction: column;
    }
}

@media screen and (max-width:500px){
    .services>.services-content>.services-div{
        width: 280px;
        height: auto;
        line-height: 30px;
        display: flex;
        flex-direction: column;
    }

    .services>.services-content>img{
        width: 280px;
        margin-top: 20px;
    }

    .services>.services-content>.services-div>.solution{
        width: 280px;
        height: 30px;
        margin-top: 20px;
        background-color: white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.089) 1px 1px 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .services>.services-content>.services-div>.solution>a{
        font-size: 10px;
        font-weight: normal;
        margin-left: 6px;
        color: rgb(60, 59, 59);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .services>.services-content>.services-div>.solution>.item{
        width: 30px;
        height: 30px;
        border-right: 1px solid rgb(232, 232, 232);
        background: url('../assets/icons/thick.png');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .services>.services-content>.services-div>.about{
        padding: 0;
        margin-bottom: 20px;
    }
    
    .our-team>.team>.team-group1,.our-team>.team>.team-group2{
        flex-direction: column;
    }

    .privacy{
        height: auto;
    }

    .privacy>.privacy-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto!important;
        padding: 20px 0;
    }

    .privacy-content>p{
        margin-bottom: 15px;
    }
}