*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 6px;
    background-color: #202124;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
}

*::selection{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(27, 85, 226);
}

.container{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}