.navbar{
    width: 100%;
    height: 55px;
    background-color: rgb(14, 23, 38);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

li{
    list-style-type: none;
}

.navbar>.logo{
    width: 70px;
    height: 27px;
    background: url('../assets/logo/logo_light.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin:0 60px 0 30px;
}

.navbar>form>.search-content{
    width: 330px;
    height: 35px;
    background-color: rgb(33, 40, 55);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(155, 155, 155,0);
}

.navbar>form>.search-content>.icon{
    width: 25px;
    height: 20px;
    margin: 0 10px;
    background: url(../assets/icons/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    border: none;
    outline: none;
}

.navbar>form>.search-content>input{
    color: rgb(155, 155, 155);
    width: 85%;
    height: 25px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: unset;
    border: none;
    outline: none;
}

.navbar>.nav-tools{
    width: 150px;
    height: 35px;
    position: absolute;
    right: 30px;
}

.navbar>.nav-tools>ul{
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

.navbar>.nav-tools>ul>li{
    list-style-type: none;
}

.navbar>.nav-tools>ul>.lang{
    width: 30px;
    height: 30px;
    background: url(../assets/icons/Azerbaijan.png);
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}

.navbar>.nav-tools>ul>.message{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/admin_letter.png);
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}

.navbar>.nav-tools>ul>.notification{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/admin_notification.png);
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}

.navbar>.nav-tools>ul>.notification>.dot{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: rgba(252, 1, 1, 0.89);
    position: absolute;
    margin-left: 14px;
}

.navbar>.nav-tools>ul>.notification>ul{
    width: 240px;
    height: auto;
    right: 37px;
    margin-top: 38px;
    background-color: white;
    border-radius:7px;
    box-shadow: rgba(46, 46, 46, 0.551) 1px 1px 9px;
    padding: 10px 20px;
    cursor: context-menu;
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
}

.navbar>.nav-tools>ul>.notification>ul>.tri{
    width: 15px;
    height: 15px;
    background: url(../assets/icons/tri.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: -7px;
}

.navbar>.nav-tools>ul>.notification>ul>li{
    display: flex;
}

.navbar>.nav-tools>ul>.notification>ul>li>div{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar>.nav-tools>ul>.notification>ul>li>.like-icon{
    background: url(../assets/icons/like.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar>.nav-tools>ul>.notification>ul>li>.share-icon{
    background: url(../assets/icons/share.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar>.nav-tools>ul>.notification>ul>li>.reply-icon{
    background: url(../assets/icons/retweet.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar>.nav-tools>ul>.notification>ul>li{
    width: 220px;
    height: 50px;
    margin: 2px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: rgb(48, 48, 48);
    font-weight: 400;
    padding: 0 5px;
}

.navbar>.nav-tools>ul>.notification>ul>li:hover{
    background-color: rgb(214, 224, 250);
}

.navbar>.nav-tools>ul>.notification>ul>li b{
    color: rgb(0, 113, 187);
}

.navbar>.nav-tools>ul>.notification>ul>a{
    margin: 8px 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(0, 113, 187);
}

.navbar>.nav-tools>ul>.account{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: url(../assets/pp/avatar-3.jpg);
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}

.navbar>.nav-tools>ul>.account>ul{
    width: 200px;
    margin-top: 40px;
    right: 0px;
    background-color: white;
    border-radius:7px;
    box-shadow: rgba(46, 46, 46, 0.551) 1px 1px 9px;
    height: auto;
    padding: 10px 20px;
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    cursor: context-menu;
}

.navbar>.nav-tools>ul>.account>ul>.tri{
    width: 15px;
    height: 15px;
    background: url(../assets/icons/tri.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 8px;
    top: -7px;
}

.navbar>.nav-tools>ul>.account>ul>li>a{
    width: 180px!important;
    padding: 0 10px;
    height: 50px;
    margin: 2px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(48, 48, 48);
    font-weight: 400;
}

.navbar>.nav-tools>ul>.account>ul>li>a:hover{
    background-color: rgb(214, 224, 250);
}

.navbar>.nav-tools>ul>.account>ul>.my_acc>a>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/username.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px;
}

.navbar>.nav-tools>ul>.account>ul>.sign_out>a>.icon{
    width: 25px;
    height: 25px;
    background: url(../assets/icons/sign_out.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px;
}

.navbar>.nav-tools>ul>.lang>ul{
    width: 130px;
    height: auto;
    position: absolute;
    padding: 10px 20px;
    cursor: context-menu;
    margin-top: 40px;
    background-color: white;
    display: none;
    right: 75px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
    box-shadow: rgba(46, 46, 46, 0.551) 1px 1px 9px;
}

.navbar>.nav-tools>ul>.lang>ul>.tri{
    width: 15px;
    height: 15px;
    background: url(../assets/icons/tri.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 53px;
    top: -7px;
}

.navbar>.nav-tools>ul>.lang>ul>li>a{
    width: 110px;
    height: 50px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: rgb(48, 48, 48);
    font-weight: 400;
    border-radius: 7px;
    padding: 0 10px;
}

.navbar>.nav-tools>ul>.lang>ul>li>a:hover{
    background-color: rgb(214, 224, 250);
}

.navbar>.nav-tools>ul>.lang>ul>li>a>div{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 15px;
}

.navbar>.nav-tools>ul>.lang>ul>li>a>.aze{
    background: url(../assets/icons/Azerbaijan.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar>.nav-tools>ul>.lang>ul>li>a>.en{
    background: url(../assets/icons/usa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.line{
    width: 100%;
    height: 1px;
    background-color: rgb(214, 224, 250);
}